doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title= title
        each css in files.CSS
            link(rel="stylesheet", href="../#{css}")
    body
        h1= title
        p New info into a paragraph
        each js in files.JS
            script(src="../#{js}")