$font-main: sans-serif;
$font-base: 16px;
$blue-dark: #1F3E79;
$blue-light: #2291D0;
$yellow: #FDD624;

html {
  font-family: $font-main;
  font-size: $font-base;
}

a {
  color: $yellow;
  font-weight: bold;
}

a:hover {
  color: $blue-light;
}

h1{
  color: $blue-dark;
  font-size:20px;
}
